# dependencies
/node_modules

# next.js
/.next/
/out/

# generated at build time
/public/search-index.json
/src/data/timeline.json

# misc
.DS_Store
*.pem
npm-debug.log*
.env*

# typescript
*.tsbuildinfo
next-env.d.ts
